<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@drawable/ic_launcher2"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Dine_Safe_Android"
        tools:targetApi="31">
        <activity
            android:name=".FireLogs"
            android:exported="false" />
        <activity
            android:name=".ViewComplaints"
            android:exported="false" />
        <activity
            android:name=".Evacuations"
            android:exported="false" />
        <activity
            android:name=".FireStats"
            android:exported="false" />
        <activity
            android:name=".Sales"
            android:exported="false" />
        <activity
            android:name=".ComplaintsActivity"
            android:exported="false" />
        <activity
            android:name=".OrderHistoryActivity"
            android:exported="false" />
        <activity
            android:name=".MakeOrder"
            android:exported="false" />
        <activity
            android:name=".UsersData"
            android:exported="false" />
        <activity
            android:name=".OrderStatus"
            android:exported="false" />
        <activity
            android:name=".Waiter_Tables"
            android:exported="false" />
        <activity
            android:name=".AddEmployee"
            android:exported="false" />
        <activity
            android:name=".ViewMenu"
            android:exported="false" />
        <activity
            android:name=".AdminDashboard"
            android:exported="false" />
        <activity
            android:name=".WaiterDashboard"
            android:exported="false" />
        <activity
            android:name=".ChefDashboard"
            android:exported="false" />
        <activity
            android:name=".LoginActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".MainActivity"
            android:exported="true" />
    </application>

</manifest>